<!DOCTYPE html>
<html lang="en-US" ng-app="LizardKing">

  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="CSS/styling.css">


    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="js/lizardKingController.js"></script>

    <title>Lizard King</title>
  </head>

 <header>
   big booty biatches!
 </header>
<body>
  <div ng-controller="LizardKingController">
   <section class="jumbotron">
     <h1>Lizard King</h1>
     <h2>Choose a picture!</h2>
   </section>

   <section class="column">

     <img class="images left" ng-src={{newImageLeft}}>

     <br>
     <button class="button left" ng-click="superLeft()">funnier?</button>
   </section>

   <section class="column">

     <img class="images right" ng-src={{newImageRight}}>

     <br>
     <button class="button right" ng-click="superRight()">funnier?</button>
   </section>

   <section class="ranking">
   <table style="width: 10%" border="1" class="table">
     <tr>
       <td>Image</td>
       <td>Votes</td>
     </tr>
     <tr>
       <td>cop picture</td>
       <td class="counter left">{{countLeft}}</td>
     </tr>
     <tr>
       <td>Will Ferrell</td>
       <td class="counter right">{{countRight}}</td>
     </tr>
   </table>
   </section>
  </div>

 </body>
</html>

