<!DOCTYPE html>
<html lang="en-US" ng-app>

  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="CSS/styling.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <title>Lizard King</title>
  </head>

 <header>
   big booty biatches!
 </header>
<body>
   <section class="jumbotron">
     <h1>Lizard King</h1>
     <h2>Choose a picture!</h2>
   </section>

   <section class="column">
     <img class="images_l" src="http://joke-king.com/wp-content/uploads/2014/12/Funny-Cop-Funny-Pictures.jpg">
     <br>
     <button class="button_left">funnier?</button>
   </section>

   <section class="column">
     <img class="images" src="http://joke-king.com/wp-content/uploads/2014/12/You-Racist-Funny-Pictures.png">
     <br>
     <button class="button">funnier?</button>
   </section>

   <section class="ranking">
   <table style="width: 10%" border="1" class="table">
     <tr>
       <td>Image</td>
       <td>Votes</td>
     </tr>
     <tr>
       <td>cop picture</td>
       <td>4 votes</td>
     </tr>
     <tr>
       <td>Will Ferrell</td>
       <td>2 votes</td>
     </tr>
   </table>
   </section>

 </body>
</html>