<!DOCTYPE html>
<html lang="en-US" ng-app="LizardKing">

  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="CSS/styling.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="js/bank.js"></script>
    <script src="js/lizardKingController.js"></script>


    <title>Lizard King</title>
  </head>
<body>
  <div ng-controller="LizardKingController">
   <section class="jumbotron">
     <h1>Lizard King</h1>
     <h2>Choose a picture!</h2>
   </section>

   <section class="column">
     <img class="images left" ng-src={{newImageLeft}} ng-click="superLeft()">
   </section>

   <section class="column">
     <img class="images right" ng-src={{newImageRight}} ng-click="superRight()">
   </section>

   <section class="ranking">
   <table style="width: 10%" border="1" class="table">
     <tr>
       <td>Image</td>
       <td>Votes</td>
     </tr>
     <tr ng-repeat="image in image_bank | orderBy : '-count'">
       <td><img ng-src={{image.url}}></img></td>
       <td>{{ image.count }}</td>
     </tr>
   </table>
   </section>
  </div> 

 </body>
</html>
