<!DOCTYPE html>
<html lang="en-US" ng-app="LizardKing">

  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Bangers&effect=fire-animation' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bangers&effect=neon' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="CSS/styling.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="js/bank.js"></script>
    <script src="js/lizardKingController.js"></script>


    <title>Lizard King</title>
  </head>

 <header class="navbar navbar-bright navbar-fixed-top">
  <a href="#top"><button type="button" class="header-button"> rank! ..</button></a>
   <button class="header-button"> Top of the List . . </button>
   <button class="header-button"> Gifs (Cooming soon!) </button>
   <button class="header-button"> Vines (Cooming soon!) </button>
 </header>

  <body ng-controller="LizardKingController">

    <section class="row" id="top">
      <div class="jumbotron module">
        <h1 class="font-effect-fire-animation">Lizard King</h1>
        <h2>Just play. Have fun. Enjoy the game</h2>
      </div>
    </section>

    <section class="row">
      <br>
     <section class="col-md-5">
       <img class="images left" ng-src={{newImageLeft}} ng-click="superLeft()">
     </section>

     <section class="col-md-5">
       <img class="images right" ng-src={{newImageRight}} ng-click="superRight()">
     </section>

     <section class="col-md-2">
      <table style="width: 10%" border="1" class="table">
     <tr>
       <td>Image</td>
       <td>Votes</td>
     </tr>
     <!-- <tr ng-repeat="image in image_bank | orderBy : '-count' | limitTo:3" > -->
      <tr ng-repeat="image in image_bank | orderBy : '-count'| limitTo:3" ng-if="image.count>0">
       <td class="thumbnail"><img ng-src={{image.url}}></img></td>
       <td>{{ image.count }}</td>
     </tr>
   </table>

     </section>

   <section class="row bottom");>
    <!-- <section class="col-md-1 side-left">
    </section> -->
    <section class="col-md-12 middle centering">
      <h4 class="font-effect-neon">Lizard's List!</h4>
      <ul ng-repeat="image in image_bank | orderBy : '-count' ">
      <li><img class="images" ng-src={{image.url}}></img></li>
         <!-- <td>{{ image.count }}</td> -->
     </ul>

    </section>
<!--     <section class="col-md-1 side-right">

   </section> -->



 </body>
</html>
