<!DOCTYPE html>
<html lang="en-US" ng-app="LizardKing">

<head>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Bangers&effect=fire-animation' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bangers&effect=anaglyph' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bangers&effect=ice' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bangers&effect=fire' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/styling.css">
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="js/bank.js"></script>
  <script src="js/lizardKingController.js"></script>

   <title>Lizard King</title>
</head>

<header class="navbar navbar-bright navbar-fixed-top">
  <a href="#top"><button type="button" class="action-button shadow animate blue"> rank! ..</button></a>
  <a href="#bottom"><button type="button" class="action-button shadow animate yellow"> top of the list! ..</button></a>
</header>

<body ng-controller="LizardKingController">

  <section class="row" id="top">
    <div class="jumbotron module">
      <h1 id="header-one" class="font-effect-fire-animation">Lizard King</h1>
      <h2 id="header-two" class="font-effect-anaglyph"> more addictive than a sugar habit </h2>
    </div>
  </section>

  <section class="row">

    <section class="col-md-5">
      <img class="images left" ng-src={{newImageLeft}} ng-click="superLeft()">
    </section>

    <section class="col-md-5">
      <img class="images right" ng-src={{newImageRight}} ng-click="superRight()">
    </section>

    <section class="col-md-2">
      <table style="width: 10%" border="1" class="table">
        <tr>
          <td class="font-effect-anaglyph">Image</td>
          <td class="font-effect-anaglyph">Votes</td>
        </tr>
        <tr ng-repeat="image in image_bank | orderBy : '-count'| limitTo:3" ng-if="image.count>0">
          <td class="thumbnail"><img ng-src={{image.url}}></img></td>
          <td>{{ image.count }}</td>
        </tr>
      </table>
    </section>

  </section>

  <section class="row bottom");>
    <section id="background-bottom" class="col-md-12 middle centering">
      <h4 class="font-effect-ice" id="bottom">The Lizard King!</h4>
      <ul ng-repeat="image in image_bank | orderBy : '-count' | limitTo:1">
        <li><img class="images-bottom" ng-src={{image.url}}></img></li>
      </ul>
    </section>
  </section>

</body>

</html>
