<!DOCTYPE html>
<html lang="en-US">

  <head>

    <style type="text/css">

      .side-column{
        background-color: black;
        width: 15%;
        height: 80%;
        float: left;
      }

      .middle {
        width: 70%;
        height: 80%;
      }

      body{
     background-color: #6aa84f ;
   }

   .content {
     width:960px;
     background-color: #6aa84f ;
     height: 2000px;
     margin: 20px auto;
   }


    </style>

    <title>The Lizard King</title>
  </head>

   <header>
   big booty biatches!
 </header>
<div class="content">
  <body>
    <section class="middle">
      que tal!
    </section>

    <section class="side-column">
      hola
    </section>

    
    <section class="side-column">
      yoo
    </section>



  </body>
</div>
</html>
